<% flash.each do |key, value| %>
<p>
  <%= value %>
</p>
<% end %>
<h1>Add a New Menu</h1>
<%= form_for [@store, @menu] do |f| %>
<p>
  <%= f.label :name %><br>
  <%= f.text_field :name %>
</p>
<p>
  <%= f.submit "Save" %>
</p>
<br>
<%= link_to "Back", store_menus_path %>

<% end %>
